.App {
  width: 100vw;
  height: 100vh;
  background-color: #faf9fb ;
  overflow-x: hidden;
}

.App::-webkit-scrollbar {
  display: none;
}



/* bottom menu styles */

.bottom-menu{
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: #d5d5d5;
  border-radius: 25px 25px 0 0 ;
  z-index: 101;
  
}


.bottom-menu ul{
   display: flex;
   bottom: 0;
 }
  
   .bottom-menu ul li{
     position: relative;
    width: 60px;
    height: 60px;
     z-index: 1;
     bottom: 0;
  }
  
   .bottom-menu ul li a{
  position: relative;
  display: flex;
  align-items: center;
 justify-content: center;
  width: 100%;
 flex-direction: row;
  text-align: center;
 font-weight: 500;
  bottom: 0;
} 
  
.bottom-menu ul li a .MuiSvgIcon-root{
font-size: 26px;
color: #373848;
}

.bottom-menu ul li.active a {
  transform: translateY(-25px);
}

.bottom-menu ul li.active a .MuiSvgIcon-root{
  color: #faf9fb;
  transition: 0.5s;
}

.indicator{
  position: absolute;
  height: 60px;
  width: 60px;
  background: #f8901c;
  border-radius: 100vw;
  top: -50%;
  border: 6px solid #faf9fb;
  transition: 0.5s;
}

.indicator::before{
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  width: 18px;
  height: 18px;
  background: transparent;
  border-top-right-radius: 18px;
  box-shadow: 0px -10px 0 0 #faf9fb;
}

.indicator::after{
  content: '';
  position: absolute;
  top: 50%;
  /* right: -10px; */
  width: 18px;
  height: 18px;
  background: transparent;
  border-top-right-radius: 18px;
  /* box-shadow: 0px -10px 0 0 #faf9fb; */
}

.bottom-menu ul li:nth-child(1).active ~ .indicator{
  transform: translateX(calc(60px * 0));
}

.bottom-menu ul li:nth-child(2).active ~ .indicator{
  transform: translateX(calc(60px * 1));
}

.bottom-menu ul li:nth-child(3).active ~ .indicator{
  transform: translateX(calc(60px * 2));
}

.bottom-menu ul li:nth-child(4).active ~ .indicator{
  transform: translateX(calc(60px * 3));
}

.bottom-menu ul li:nth-child(5).active ~ .indicator{
  transform: translateX(calc(60px * 4));
}

.bottom-menu ul li:nth-child(6).active ~ .indicator{
  transform: translateX(calc(60px * 5));
}

/* Main */

main{
  width: 100%;
  height: auto;
  background-color:#faf9fb  ;
  margin-top: 60px;
}

.main-container{
  width: 100%;
  height: auto;
  background: #faf9fb;
  padding: 10px;
  padding-bottom: 100px;
}

.banner{
  width: 100%;
  height: 130px;
  border-radius: 10px;
  background-size: cover;
  background-color: #f8901c;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 10px;

}

.delivery-pic{
  position: absolute;
  right: -60px;
  bottom: -10px;
  width: 320px;
}

/* dish container */

.dishContainer {
  width: 100%;
  padding: 10px 0;
}

.menu-card {
  width: 100%;
}

.row-container{
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 10px 0;
  padding: 10px 0;

}

.row-container::-webkit-scrollbar{
  display: none;
}


.dish-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
/* 
right menu styles */

.right-menu {
  width: 350px;
  height: calc(100% - 60px);
  background: #fff;
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 105;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  transform: translateX(200%);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 3px 20px rgba(0,0,0,0.1);
}

.right-menu.active{
  transform: translateX(0%);
}

.debit-card-container{
  padding: 10px;
  width: 100%;
  height: auto;
}

.debit-card{
  position: relative;
  width: 100%;
  height: 170px;
  min-width: 300px;
  min-height: 170px;
  border-radius: 15px;

}

.debit-card::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8901c;
  transform: rotate(5deg);
  border-radius: 15px;
  filter: blur(2px);
  z-index: -2;
}


.debit-card::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(35deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1),);
  backdrop-filter: blur(10px);
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}

/* cart container */
.cart-checkout-container{
width: 100%;
min-width: 320px;

}
.cart-container{
  width: 100%;
  min-height: 250px;
  max-height: 280px;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cart-container::-webkit-scrollbar {
  display: none;
}

.total-section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
  margin: 15px 0px;
}

.total-section h3{
  font-size: 18px;
  font-weight: 600;
  color: #2a2b3c;
}

.total-section p{
  font-size: 18px;
  font-weight: 600;
  color: #2a2b3c
}

.total-section p span{
  font-size: 14px;
  color: #f8901c;
}